*{  margin: 0;}

body{
    font-size: 1.0em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DEEFE7;

}
footer {
  padding: 1%;
  text-align: center;
  background-color: #f0e948;
  font-weight: 600;
}
footer a{
  text-decoration-line: none;
}

.border{
  padding: 0% 5%;
  list-style: none;
}

.center{
  text-align: center;
}

.navbar {
  list-style:none;
  background-color:  #0adcde;
  overflow: auto;
}

.navbar a {
  float: left;
  color: #8b3986;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  text-align: center;
}

.navbar a:hover {
  background-color: #dfa8dc;
}

.active {
  background-color: #f0e948;
  color: #8b3986;
}

.banner {
  background-image: url('./img/back.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 65vh;
  width: 100%;
  border-bottom: 5px solid #4e29;
  border-top: 4px solid #f0e948;
  padding: 2% 5% ;
}

.banner .texto {
  background: #f09e5270;
  width: 45%;
  height: 40vh;
  border-radius: 20px;
}

.row{
  display: flex;
  padding: 0% 4%;
  justify-content: space-between;
}

.icons-home {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.icons-home article {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5% 2% 5%;
}

.icons-home article h3 {
  padding-bottom: 3%;
}

.icons-home article a {
  color: black;
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 600px) {

  .navbar a {
    float: none;
    display: block;
  }

  .active {
    background-color: #0adcde;
  }

  footer{
    font-size: 0.8em;
  }

  .image {
    width: 4em;
  }
}
